/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 29, 2023, 1:52:25 PM
    Author     : VTN
*/
th{
    background-color: green;
    color: white;
    font-size: 12pt
}

